<h1>List: <%= @list_id %></h1>

<table>
<% @products.each do |product| %>
  <tr>
    <td><img src='<%= product['image'] %>' style='width: 100px'/></td>
    <td><%= product['title'] %></td>
    <td><%= product['rating'] %></td>
  </tr>
<% end %>
</table>

<style type="text/css" media="screen">
  body {
    font-family: Arial;
  }
</style>
