<h1>List</h1>

<table>
<% @products.each do |product| %>
  <tr>
    <td><%= product['title'] %></td>
    <td><%= product['rating'] %></td>
  </tr>
<% end %>
</table>

<style type="text/css" media="screen">
  body {
    font-family: Arial;
  }
</style>
